<app-header></app-header>

<div>


    <div class="row">
        <div class="col-md-12">
            <h3>This is a board</h3>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="container" style="width: 400px; color: rgb(0, 0, 0); background-color: rgb(230, 225, 233);">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Todo</h3>
                    </div>
                </div>
                <app-cards></app-cards>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container" style="width: 400px; color: rgb(0, 0, 0); background-color: rgb(230, 225, 233);">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Doing</h3>
                    </div>
                </div>
                <app-cards></app-cards>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container" style="width: 400px; color: rgb(0, 0, 0); background-color: rgb(230, 225, 233);">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Done</h3>
                    </div>
                </div>
                <app-cards></app-cards>
            </div>
        </div>
    </div>