<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" formControlName="title" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" formControlName="description" class="form-control"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input type="text" id="status" formControlName="status" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>